body {
  font-family: "Vazirmatn", sans-serif;
  scroll-behavior: smooth;
}
/* Background with Light Gray Dot Pattern */
.dotted-bg {
  background-color: #ffffff;
  background-image: radial-gradient(#e0e0e0 1px, transparent 1px);
  background-size: 15px 15px;
}
/* Hero Section Background Image */
.hero-bg {
  background-image: url("/Images/dental-veneer-icon-hero-section.svg ");
  background-repeat: no-repeat;
  background-position: center calc(100% - 250%);
  background-size: 120% auto;
}
/* Custom off-white color */
.text-smoke-white {
  color: #f5f5f5;
}

/* برای صفحه‌های بزرگتر مثل تبلت و دسکتاپ */
@media (min-width: 768px) {
  .hero-bg {
    background-position: center center;
    background-size: 60% auto; /* بزرگ‌تر برای دسکتاپ */
  }
}

/* background-size: cover;
  background-position: center; */
